
.explore-button {
    position: fixed;
    bottom: 20px;
    left: 45%;
    padding: 13px 30px;
    background-color: #f0488e;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
  }
  @media (max-width: 768px) {
    .explore-button{
    position:fixed;
    bottom: 40px;
    left: 30%;
    padding: 13px 30px;
    background-color: #f0488e;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    }
  }
  